<%- include('../partials/header') %>

<div class="container">
  <div class="hero">
    <h1>Welcome to Our Online Learning Platform</h1>
    <p>Learn new skills, attend live events, discover courses, connect with instructors, Your journey to success begins here — start learning today!</p>
  </div>
</div>

<%- include('../partials/footer') %>
